# test ones
pytest-cov
pytest
flake8-isort
flake8-commas
flake8-bugbear
flake8-simplify
flake8-debugger
flake8-hangover
Flake8-pyproject == 1.1.0.post0
flake8
mypy

# build / upload ones
build
pdm-pep517
twine
